<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-graphhopper-plugin" version="0.1.0">
  <name>Graphhopper</name>
  <description>Cordova Graphhopper Plugin</description>
  <license>Apache 2.0</license>
  <keywords>cordova, plugin, template</keywords>

  <engines>
    <engine name="cordova"         version=">=7.1.0"  />
    <engine name="cordova-android" version=">=5.0.0"  />
    <engine name="android-sdk"     version=">=28" />
  </engines>

  <js-module src="www/graphhopper.js" name="graphhopper">
    <clobbers target="navigator.graphhopper" />
  </js-module>

  <!-- android -->
  <platform name="android">
    <framework src="src/android/graphhopper.gradle" custom="true" type="gradleReference"/>
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Graphhopper" >
        <param name="android-package" value="de.applant.cordova.plugin.graphhopper.GraphhopperPlugin"/>
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    </config-file>

    <source-file src="src/android/Template.java" target-dir="src/de/applant/cordova/plugin/graphhopper" />
    <source-file src="src/android/AndroidDownloader.java" target-dir="src/de/applant/cordova/plugin/graphhopper" />
    <source-file src="src/android/AndroidHelper.java" target-dir="src/de/applant/cordova/plugin/graphhopper" />
    <source-file src="src/android/GHAsyncTask.java" target-dir="src/de/applant/cordova/plugin/graphhopper" />
    <source-file src="src/android/GraphhopperPlugin.java" target-dir="src/de/applant/cordova/plugin/graphhopper" />
    <source-file src="src/android/GraphhopperSimpleRouting.java" target-dir="src/de/applant/cordova/plugin/graphhopper" />
    <source-file src="src/android/RoutingInterface.java" target-dir="src/de/applant/cordova/plugin/graphhopper" />
    <source-file src="src/android/Template.java" target-dir="src/de/applant/cordova/plugin/graphhopper" />

  </platform>

</plugin>